/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #121212;
  color: white;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FF007F;
}

h2, h3 {
  color: #F8F8F8;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(-2000px);
  }
  60% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate__animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animate__fadeIn {
  animation-name: fadeIn;
}

.animate__bounceIn {
  animation-name: bounceIn;
}
